@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;700;800&family=Sedgwick+Ave&display=swap');

:root {
    --dark-grayish-blue: hsl(217, 19%, 35%);
    --dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}
/* * Asterisk */
* {
    margin: 0;
    padding: 0;
}


body {
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    margin: 0;
    height: 100vh; /*Viewport height*/
    /*width: 100vw;*/ /*Viewport width*/
}

img {
    width: 100%;
    object-fit: cover;
}
figure {
    margin: 0;
}

.posts {
    background-color: hsl(210, 46%, 95%);
    height: 100%;
    position: relative;
}
.post {
    background-color: white;
    width: 920px;
    margin: 0 auto;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    max-height: 262px;
}

.post-image-wrapper {
    /* width: 400px; */
}
.post-image {
    /* width: 100px; */
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.post-content {
    padding: 20px 25px
}

.post-heading {
    margin-bottom: 15px;
    font-size: 25px;
}
.post-text {
    margin-bottom: 10px;
}

.author-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author-image {
    width: 60px;
    border-radius: 100%;
}

.author-info {
    display: flex;
    align-items: center;
}
.author {
    padding-right: 15px;
    padding-left: 15px;
}
